body {
    font-family: georgia;
    font-size: 13px;
    color: #222222;
}

/* =======================================*/

.header {
    height: 80px;
    padding : 11.5px 0px;
}

/* ==========================================*/

.nav-header.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 15px;
    font-style: italic;
}

.nav-header .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 25px;
}

.nav-header .navbar-form {
    margin: 0px;
    padding: 0px;
}

.nav-header .form-control {
    height: 25px;
    font-style: italic;
}



.nav-header .btn {
    height: 25px;
}

.nav-header.navbar {
    min-height:0;
}

.nav-header {
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.nav-header li {
    border-right: 1px solid dimgrey;
}

.nav-header li:first-child {
    border-left: 1px solid dimgrey;
}

.nav-header .seperator {
    height: 100%;
    border: 1px solid black;
}

.nav-header {
    background-color: #3355aa;
    border-radius: 0px;
    margin-bottom: 35px;
}

.nav-header .glyphicon {
    display: block;
    line-height: 0;
}

/*============================================*/

.introduction .thumbnail {
    padding: 10px;
}

.introduction .caption {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}




.introduction .intro-heading {
    font-size: 16px;
    font-weight: bold;
    color: #3355aa;
    border-bottom: 2px solid #f4b444;
    padding: 15px 0px;
}

.intro-panel p {
    font-weight: bold;
    line-height: 1.7;
    font-size: 14px;
}

.announcement-list>a {
    font-size: 14px;
    font-style: italic;
}

.announcement-list ul {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 15px;
}

.announcement {
    border-bottom: 1px solid grey;
}

.announcement a {
    display: block;
    padding: 15px 0px;
}

.announcement span {
    display: inline-block;
    color: black;    
}

.announcement span:first-child {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.announcement span:last-child {
    font-size: 10px;
}


.introduction {
    margin-bottom: 45px;
}

/* ============================================ */


.sectors {
    background-color: ghostwhite;
    padding-top: 25px;
    padding-bottom: 75px;
}

.sectors h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: bold;
}


.sectors .thumbnail {
    padding: 5px;
}

.sectors ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sectors a {
    display: block;
}

.sectors a:hover {
    text-decoration: none;
}

.sectors .thumbnail {
    margin : 0px;
}

.sectors .caption {
    min-height: 70px;
    padding: 10px 0px;
    font-size: 16px;
    color: #3355aa;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    line-height: 1.4;
}

.infoBox {
    height: 250px;
    background-color: gainsboro;
}

/* ================================================ */

.footer {
    background-color: #333333;
    padding-top: 15px;
    padding-bottom: 35px;
}

.nav-footer {
    background-color: #333333;
    color : white;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 10px;
}

.nav-footer.navbar-default .navbar-nav>li>a {
    color: beige;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-footer .nav.navbar-left {
    font-size: 14px;
}

.nav-footer .nav.navbar-right {
    font-size: 11px;
}

.nav-footer li {
    border-left: 1px solid grey;
}

.nav-footer li:first-child {
    border-left: none;
}

.nav-footer .nav>li:first-child>a {
    padding-left: 0px;
}

.nav-footer.navbar-default .navbar-nav>li>a:hover {
    color: white;
    font-style: bold;
}

.footer p {
    margin-top: 10px;
    font-size: 11px;
    margin-bottom: 0px;
    color: grey;
}